.mask {
  position: fixed;
  background-color: #000;
  opacity: 0.85;
  z-index: 21;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  display: none;
}

.viewer {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 88;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
  display: none;
}

.viewer .window {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  position: relative;
  transition: all .3s ease-in;
  right: 0;
  z-index: 99;
  font-size: 0;
}

.viewer .close-window {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 32px;
  right: 32px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAYEElEQVR4Xu1dC5Bb1Xn+/vvQstjYOK3BkBdNeDgYpm62cWrsDmvwelda7JKEDTglECC8ihnSEB4l6eCkTcO7ycQkhECmIRQSdhqCwbrS2uBNZ2wPps6YARPz6tAWkoATxsZ27NV9nM5/jo6klXdXV9orXWktzWh47NW995z/O//7QWh/DusdoMN69e3Fow2AwxwEbQC0AXCY78Bhvvw2B2gDYOrvgECJrrN6NWHHjrGBP2+ewOrVQu8IAYV/n6q7NOU4gAAMDAwQdu1Sa+vuDmj16qAWAorVqw0MDxvyt7NnCwwOCgJqulctz2/Eb1oeAPJ0DwwYTHAaHvbG2zSRTM6AbU+H6x4NIabBNG0EgS2vNwwXvu+CaD9sezdcdx85znvj3qu728oDImh1LtGSAJCnvLubv4ecbtHTczxM82QQnQaij0GIj0KI40F0LIBpEKIThmGACPLLHyHUNwgCEB0AsB9CvA2i34DodQjxawjxInz/FVq//jelwChwieFhBkPLcYeWAUDhpM+bJ0pZuujtPQ6GsQhESxAEC0A0F6Y5HYbi3AXiaiLzP7VsF+o/QBoJoAIwNED0n4IA8P19EGInDGMrhNiIINhE2exvNSAkGFi/GBxsGc7Q9ACQhO/uNkvZu+jrOwGG0QuicxEEC2FZMyXhmEjqyydZnUbBYlsStnSt4627qPQpcAgQqf8nhCE5BwOLv/xnz9sDw9gCIX6BIMhSJvNGAQwsJoaH/WYXEU0LAH3iaXDQl/u/cGEnZs7sg2FcBKAHlsXsnE8lE9yXhGIiKULXa138DAZFIIFlGCZMU4kSz9sPYD2C4CHs2ZOhLVtYlEAMDJjNzBHqtVE1K7CHEH7FimMRBBcjCC6Tsp0/muiKfTOvj2sdDAjFaTQY1Pu9AsN4EIbxY1q79u1mBkJcGzcmQPi0FE58KjUHRKsgxOWwrGMk0X2fN5tPYJxEH9c4yIOBYJqG5Aye9w6Ifggh1lA6/TsNBL3Gmk9JhD9sCgBIrX71arByJxYtOgozZ14H4FpJeM9jeevl2Xtes4twB+pxK+YKLCaILFiWAgLwXezZ8x3atGmvVBZ5vU1gNcQOANHdbWkFT6RSK2EYt8IwTikQHjBjZPGThQcrkKyfKCAEwcsIgq9TOv2o5AYla5/sg2r9fWwAKJX1orf3RBjGHbCsT+W1eHbotDLhy+mhgGAYlrQgPO9xBMGNlM2+FreSGAsAymT9FwHcCdM8Gq7LGj+bbK3B6qs9dkphFLBtE76/G8ANlE4/EKdu0HAAaLYnenvfB9NcA9NcWWLK8amf+h8hmBsoE9L3H4Xvr6Js9t04REJDAVAg/rJlXbCsh2FZc5HLsYxsRq2+3kBUJmQiYcLzdsLzLqShoW2NBkFDADBK3vf1XZC3kY+E77Ost+q9001+fw+maSEI/si+DspkftpIvaDuABhF/GTyJpjmbXlFj0/+4cHyKyFQiwRWEH3/ZnKc2xsFgroCoIz4d8G2r4frKjfqaN98pS2a+n9XLmZWEA247t3kOF9pBAjqBoAy4n8ftn0VXHeqmXdRA1OZi7ZtwXXvI8e5ut4gqAsARhE/lVLEz+Xa8j48XDwkEgoE6XRdQVAfAOQ9XKKv724kEl+G67oAVPZN+xN2B1zYto1c7h7KZK6vl3UQOQBK7Pwb0dFxe57tH+6afliil1/nSXEwMnITZbN31AMEkQKgQHw29WybHRwcxJlKLt1aCVnr71gx9KWZ6LorpYkYcfwgMgBwhEtG83p65iOR2AwhOhAEbW2/VtLr37F1YBgMhBHkcmfQ+vXb9V5P9tb8+0gAIJU+zrffvn0GcrmtMIyT4HkcDp2aPv0odr6ae7DH0LIMBMGrSCQWYP7897h+IYp0s2gAUFT6foZE4rNtuV8NdUNfq/SBXO4xymTOj0oUTBoAOrInkslLYdsPtokfmqC1XKhA4LqXkeP8qDSqWsvNJi0C8pktAqnUhyDECyDiRM16JmXWus6p8jvlLRRiP4hORzr9vyx6a618mjwA8jl8Ipl8ErZ9Tj6y1/bv1xNuHDfgCKLrPkWOs3yyXKBmEVBg/X19A7Dtx2QyRzu4U0/SF+/NIOCkEtf9LGUyg5MBQU0AKGj9mzdzmdULMM0T4Ps6W7cxm3A4P4WtAtMk+P4bCILTccYZB2q1CmoDQJH1fxW2/c9t1h8DGoui4GvkON+slQtUDQCZws15bcnkn4JoJwCutuUdaNv8jcUB+1n4ibshxFw4zu9lmUyVqebVA6B4+r8J276lCU4/J1rqqtxGuJ1VyFZ9GPTxAb/IBf6FHOertXCBqgBQ6LSxfPmfwHW5/Emf/qruE9lBUbJQVeHwh4tIgoB1kfq8Dz+PC0Q5x58/ulopPo8nr5XXvBu2fTKefPIPedMudGeTqjaqEOxJpW6AZd0Rq9OnqAm/BaKfAugA0edhGDPr4obW7liVzv0wAG4gcSEs60MxW0DKOeR5N1I6fWe1HsLQACic/u7uDhxxxEtS8+fTFg8L1B6x/wRwHjnOLka+6O8/DUKkYRgfhOdFZ5Yy2CzLhBD/DSGSlE6/Ip+3bNkxsKynYJqfgMfsJ5YEV+ZKyiI4ePBUDA+PVMMFwgOg6O9fAdt+Qub2xcP6PFiWBd//L+RyS2nDhj2iq8vGRz5CNDiYE72982BZG7mrjywmnew7MvFNk4nPjSC6mfhiYCCBWbME3X+/K5LJ2TCMjTCMebFxAuZOKpfwbyiTWVsNFwgPAB3uTSbXwrLOkSes0YjXbN/3X4LnLaGhoXdGVRlpkPb2LoBlrYcQM/LNImpT1LSOAbwLzzuLstnnR9UyaoV42bIPwrJ+CcP4s0g5T3hliQ8F1xewd3BFNeHiUABg049VDZFMfgDAKyDqlI0SIgonh1pnMSTKXTj4JP7PWFpvSUbSElhWOp+XUL2TSit8RPvgur00NLR5rJNV4hE9BabJnOe4SDhPqE0pXKQUXyG4KcXJ5DhvappVuk04AOiTlUpdCcu6LwblT8k5ol3I5c6koaGdE5k8BRAkk8thGNy+RbWKCWsdKOKzVe0hCJaT4wxNxFZLnvcXMIwNEIKto0YHxbQyeBWl0z8IKwbCAaDIAYZgWT0Nl3X69HueSovq6rJp2zZONB33o68Rvb2fg23/O3y22aTNXmnNqjcQu1o97zzKZH4eZjMLz0smr4Bl/SCGPVLxAc9bT46zLDIOUGD/rPEaxmswjKMazP4VewuCPfC8D2Px4r1h/d4lOYpXwrbvy+stE4GAic++Bd7IL1Am8+MwYJMWgc6K2rr1GATB6zCMI2Pap70IghOlfpQ/uBMdlEqnodDEQPT3fxqG8R8NR7Zq6cbveRCuewoWL35Tmjkhu3+WsOevwLbvnKA4RXn42MLI5a6lbHZNWOJLAHDXD/5s3vx+mCabiUfk29FV3ONKcjr037WSHASfoXXrQnGuii9XcorWIJG4Jgb5z/Jbx8BvJ8e5uRrCSOJoHSaZ/AZs+x/HWEOxIieXu4UymW+FYfulhCkRAXfBsrgELjo/RGgEQKeN3UuZzKowa6gMABVgECKZ3Jp3eEzetg6/oNIrtcPjIspkHq4GBKW9BkUy+a+w7S+VgUArULdROv0PvHHV9PgrAdilMM0H882sajM9a9sb9auit/I5cpwFvO5KiaMTAkDfIN+N89V8yldjzb/ihijlTLVY+TRls0+EQbj+eVm52gOw7cuQy7EiSfkyrHspnZanpiri5xVSwYkxpvmY9DsokVXxcE2G1uP8VpuD+xEEJ3EX00ogmBgA2tHR378ERM/UxcdezS4o84zNuRx8v58ymadrBkFfn8pg5k8u9xPKZC6qthCzxOfQB8taK4tgmP6T9T5Wsyfl12ouIMRZtG7dxkoRwokBULT/r4FlrYlF/o+1QNXseS+E6KF0+tkqQSBbtMk28J2d6wGMwHGSsq6hilz7Et1oMQwjC6AzH4lsPOsfvUdanK2idPreSnsTDgDJZGl5d/x1ftpFK8TvkcudRRs2vFAJ6aMUNq3XDAx0YtcuQcPDByuxylG/L7qcPw7L2gBgVgzev/H4hA6UqfLyCqVkEwOg6P/PwrKWxaTZjr3QYoTuTQRBNznO67WAQNvwlZSlgi6hxWJfH7t+hwHMaSLiK4tJOYSGyHF6K8UFxgVAQQFk+/bZZ5+HaZ4Wuw5wqDhQYVoumfL9M6XSkwdtGDGqQ9xVE3/p0g8hkeDgzwkxBX/GX17REngRn/zkn8t6zQmsgcoAWLHiKLju6yCa3WDPVhga8jU6PPw8fJ8jdu9WA4KwDykUv6ocgI0wzVObiiOWWksqMLQLtv1RWrt27+QAcNZZ70dHx8sxm4CV6KQdIJsRBMtoaGh/GDdopZsW2L4WhUuXzkQisQGm+ZcxJoBUeu2iKTgycgo988xbtQGgKP9PzZd9qWzgeOzbSotWnEDVzQ1h+vTlGByU84OqzZI9RMroLOiFC4/ArFkOLOvMprCGJhACctmqYfXp5DgvTcQRxxcBRWXnE/kRKc1MfLUd3FWce+t43s+RTp9XrWk3BvHV/vBQqv37n4Bl9Tc58QtMKx9AW0CZzHMTKceVAdDffwaATfn8vzi8W2FOf+k1LhIJG677b5ROX1KrKMgriDLnVqRSj8CyVrZQryP2mDKtFtG6dZsnB4Bk8kxp7rRSwwchXHR0MAi+R+n0NdWYh6VyXw6RTCYfRCJxCUZGeKxcazS6KloCbB7/8nADQDGm7/t/B8e5r5YS6kLpe1/fl2BZ9+Tb2jai8KRajnfo9ZECoLVEwKEx/RBJEePteMH0SyYr5RJMnmjR3iFCEdDX1ypK4KRj+mPRIEQuQbSki+ZuOotqEkpgq5qBnldTTH9cLlAyt3CcXIJoSBbdXZS1NmkzUAdMWsMRpDX/mmL6lfZ+nFyCuCqBKr+u8gTuh+edzKNua3MEaQA0vytYEf/gwYcom7242ph+pd0sGtZqSDWPfBM6l6A5W+BqT2BEruBmDgYVvX+Pw3E+U63jRydyhk4wzY+3k7kEHR1r0dGRbDrHUFTBIOlYa+ZwsCa+563HtGnnYHBQpneFdf2WOoiqcRYVGmQsX94J38/Asv66qUAQVThYAqCYTdtcCSHFk78FBw4so+HhfdVEAAvlXKnU6RzLp2x2RzXOosLB6O4+Gp2dT8OyPt5EwaEIE0KaMSWsNPw7MnI2Pf30H2oivppA/qyMH/j+X9HQ0P/VBIKzzz4WHR3DMM25TRIejjAlrPmSQosJIK7bLTXcknnDlRS6kpM7B0ceOSwnlKog0g4EwRLuM1AzmNhdTvTh2BNEIk0K1ZZAb+9xMIx408KLeYBvQYgzq04B0/pMf/8sBMEGybbVoErkBzk+ByGWkuO8VxMI+vs/BiE2gujYGFPEok0Ll4ejOQpDVD0A1+mPjCyRSaBV9M0fpbgFQRamuXjMwhDXHcaBA8l8l43wCqUWlf39XQC4OnhGDNXB0ReGjFIE+/riLQ1TiY4Xk+M8VGVVkErT7uoyMXv2WiQSfeNo7Vp5egrTp5+LefNEVWniV1xh5zuGXA3L+l5M+kAdSsOK6I6vOFRVB3MdwAlYuHB3WMKUefAeg2UNVIjpqzk9nvcopdOfq8apVKgO/tWv5iCX4yrqOJpoqIzgSItDdW+AOMvDdXWwZZ2Crq43ubCjkr1fNraOY/qXhpxcprKKcrn7yXGuDAsCKWa44GTbtg/A87g6uKPBKXQ6ABRteXheD9AtYuJqEKGqg3O5b1Emc4vIs9uQAZxvw7avq9JZo8WBGuAYol4w9urgogMo2gYRo/SA+FrE8Guoti2e93nKZh+ZSA8oKdv6JyQSX6uS+BpXGgS3kuN8I1SLmFTqEhjGj2KqDm5Ii5j4mkSxQcJ6OQ9MCIJzyXGeHLNpU7Gd3Q1IJHQzy1oyeUqneP49Oc63x3xec1QH17dJVFlcIM42cbo6eASel6JsdmOB9bKe0NVlce8g0dt7FRKJ70cwtk6ll3H1US53OWWzD5RynpI+RHFXB9e3TVyZORhvo8hi+7b34Hk9lM1ulYravHlClkElk38L03y4iqZQFR2Ihb5Bvn8BOc7P5PM48qRCw/FXBzekUaQuCGmGVrHFBo674HnnS07AWnh//xcgxA9l+/pq2sJVhEChbRxPPr+Y0ulH5KHo7+8H8JOYq4Mb0yq2TBlshmbRqlO4bMiBLQCOkgWsshtcHSqY1ABHbk7B3bm3yTpJLhFjsNWzQ3klcBbD4vVtFq3dwvJ9mqddvFJ+uH07E0LVLtSzPYtqw849BPnDY3LUJ66Cmca2i5cgaL6BETxGTfXlaVRrFvW8eFvBSGIUuqc1ZmCEdgq1R8ZU5ssNuCKekTFlXKA9NKoBlB7zEXENjSroAtxUqT02Lh7yxz02bhQXaA+ObDwI4h4cqVdcohC2R8c2CgbNMjpWcgGuGeAS6vbw6IaRv6mGR5cphO3x8fWHQXONjy+IgmIETrVfdd1mrZurP4nq9wSd7vUYZTLnV5MTOdErReLBKqRDbd8+A7ncVhjGSS3VUaR+RIvmzsV5Sa8ikViA+fPfC5sWV+kFIgGA1gdkNK6nZz5se7NMiQqC8HN6Kr3p4fp3FYNgl/MIXPcMWr9+ezVp65W2LTIASBAURcEFsO1HI4jHV3r/qf539vXz3EJuf6fmJVWRDh9mcyIFwCgQ9PbeiI6O29v6QBgyjHuNkvsjIzdRNntH1MTnp0YOgDJOcDcSiS+3UHu1SVEr4h+rFPVc7h7KZK6vB/HrBwAGlm6mkEqpyuJcrm0ZhEeISk133fsonb46bGp6+NsXr6wLB5BcoBQEo+cN1JKgWcvaWvE3pYmoqt8/p58NDgZhO5pXu+i6AWAMENwF2+ZpWpxW1bYOyinF2j5nPKsh0Koeoc7Er5sIKF1bGSe4CaZ5m0zjCoI4xqpVe0Aacz379w3DlHUPvn8zOc7tjSB+QwBwCCfo67sAhvGgnKzp+229gHP62MwLgj8iCC6Tpl4DTr5Gdl1FwCFcTvsJli3rgmU9DMuai1yOOUGYmb6NOY2Ne4pKZeOSN8/bCc+7kIaGttVL2x9vWQ0FQJmf4H0wzTUwzZUyk/dwEgma5Zsms3x2mK2Sk04idvKEwXLDASBBUNLWRaRSXwRwJ0zz6HzHjsYld4bZoSivUcmkrOiZ8P3dAG6gdPqB8j2J8pGV7hULAA7RC3p7T4Rh3AHL+lReQWTdYCqZi8q8MwwrX+D6OILgRspmX2ukvB8LDLEBQL9MKdsTqdRKGMatsnmT56kJIK0NBEV4IkvWLgTBywiCr1M6/WipOKx0Suv599gBkOcGsrmCjCYuWnQUZs68DsC1sKxjCkAQgqeFxj2VMxwtVKNm/irCe947AL6LPXu+Q5s27c1nUlVschHuYZO7qikAUOAGo3WDOSBaBSEul0BgRdH3lQxtTquhWKDCJWus4DHhibhWcQ2l07+LU9Y3jRVQCa+ljiO5YanUHBjGRWwjwzRPlr/XVoP0ZMRqQmqiQzpymOjq/V6Rvo4geKiU8PV06Vba15YBQIEblMQSJBAWLuzEzJl9EgxADyxrmqwHLJqQTAwWE/WtDVQuW+XO1kTnR3refgDrmejYsydDW7Yc0Ce+GQmv97mpRMBYKJUcobvbpOFhOQdQbqpq89oLonMRBAthWTPzVbusaPFXyWB5sVCAUMCotG5d7Mm/439X/nl1HwM8tZzdtfxVxah7YBhbIMQvEARZymTeKLxjiL5CtZ7aKH/X9AAo5wi6EUTh/6supotAtARBsABEc2Ga0/ONJRWhyr+qfFwTmcWI3gdV/l3+5WsZWL6/D0LszM9R3Igg2MTzigvvwmnyO3ZQM5/4cvC0DABKX1w2g+ju5m9Q3utf9PQcL3UFotNAxO1bT4QQx8kWrgCLjU55kjWRFRDUV3EOZt37IcTbIPotiF6DEL+GEC+ybOf+xKPehYnO8wOGhzlkq7hOC31aEgBlYJDJJ9i1i0rFRDkNRDI5A7Y9Ha57NISYBtO0EQRqDqBhuPB9ngu4H7a9G667j3sGj0dH2TZu9mzRSid9vLW0PAAOITRzh4EBYkDIv43BJcIeUGmv8+nmjyI4KxQtd8onWu+UA8BYi82PgVV/4qpmltNjffL9gfWf6pWFExaAjbjusABAIzayVZ/RBkCrUi6i924DIKKNbNXbtAHQqpSL6L3bAIhoI1v1Nm0AtCrlInrv/wf2ceFiidoR2AAAAABJRU5ErkJggg==);
  background-size: 100%;
  z-index: 1000;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.2s ease-in;
}

.viewer .close-window:hover {
  opacity: 1;
}
.viewer .image {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
.viewer .image img {
  vertical-align: bottom;
  max-width: 100%;
  max-height: 100%;
   position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.paginator {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

.paginator-left {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACABAMAAAAxEHz4AAAAJFBMVEUAAAD///////////////////////////////////////////+0CY3pAAAAC3RSTlMAgPM8FdKWAQvDYVDZl6kAAACQSURBVGje7c6xCcJgGIThL7hAeitrOycIzuAOto6QMRzBNoJCuOVS3Ab/QULC+/Z3PEVERES7bKis06WybuozwFVTCJD6DCBNGcCEAGBCBNBvzAB6pIABAAAAAABsBbh7/20FVCf3rNbOPvi/IECAAAHCMQnzGBLe1VyXAEwwICAYkBAMCAgGBH2KiIiIaL0W0Iwwz7BsO3wAAAAASUVORK5CYII=);
  left: 0;
  display: none;
}

.paginator-right {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACABAMAAAAxEHz4AAAAJ1BMVEUAAAD///////////////////////////////////////////////+uPUo5AAAADHRSTlMAgPE42JcZAg/JHGVeK/hvAAAAkUlEQVRo3u3OsQ2CUBRG4WujxIpY29EZCwZxBEtXcAjCCizzqP+hCNwN3l+QwDn9Sb4gIiKiEzWafzO1YTWomACp9QBSMQEWYdBasQAW4faVSfgLAgQIECAck3B9a+sVlf3yn/tawEdbHQAAAAAA2AvQuIB41gOyiwNIggFIQgIcQgIcQhdejz687kFERERU0wLQWUflZYMTpQAAAABJRU5ErkJggg==);
  right: 0;
}

.paginator-each {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  cursor: pointer;
  width: 60px;
  height: 100%;
}

.paginator img {
  vertical-align: middle;
  width: 60px;
  display: inline-block;
}

.viewer-tip {
  text-align: center;
  font-size: 48px;
  color: #eee;
  position: relative;
  top: 200px;
}

.nav {
    position: absolute;
    width: 100%;
    text-align: center;
    right: 0;
    bottom: 12px;
    color: #fff;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
}

.slash {
  padding: 0 6px;
}